.Circle{
    border: 2px rgb(251, 247, 254);
    color: rgb(9, 9, 9);
    padding-left: 350px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 0px; 
    display: flex;
    
}
.Circle:hover{
    color: rgb(11, 11, 11);
}
.Circle .Circle1{
    /* padding-left: 350px;
    padding-right: 0px;
    padding-top: 200px;
    padding-bottom: 0px; */
    
}
.Circle .Circle2{
    /* padding-left: 420px;
    padding-right: 250px;
    padding-top: 200px;
    padding-bottom: 0px; */
    padding-left: 300px;
}
.Circle .Circle1  h3{
    border: 3px black solid;
    border-radius:100%;
    height: 80px;
    width: 80px;
    background-color: rgb(249, 254, 254);
    align-items: center;
    justify-content: space-around;
    padding: 30px 10px 4px 30px;
    opacity: 0.4;
    
  
    /* padding-left: 3px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; */
}
.Circle .Circle2  h3{
    border: 3px black solid;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(243, 250, 250); 
    padding: 30px 10px 4px 30px;
    opacity: 0.4;
  
}
/* .Circle .Circle1  h3:hover{
    background-color: #eb0906;
}
.Circle .Circle2  h3:hover{
    background-color: #eb0906;
} */
.neon{
    /* color: #eb0906; */
    text-shadow:
      0 0 5px #050505,
      0 0 10px #646363,
      0 0 20px #fff,
      0 0 40px rgb(141, 202, 202),
      0 0 80px rgb(155, 164, 164),
      0 0 90px rgb(149, 208, 208),
      0 0 700px rgb(124, 143, 143),
      0 0 120px rgb(130, 137, 137);
}
span{
    font-size:25px;
    font-weight: 400;
    text-transform: uppercase; 
}
.HashCode{
    /* color: rgb(250, 8, 8); */
    padding-left: 170px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px; 
    display: flex;  
}
.HashCodeBlockChain{
    
    margin: 5px 5px 5px 5px;
    padding-right: 125px;
    padding-left: 135px; 
    padding-top: 100px;
     
    
}
.HashCodeExcel{

    padding-left: 135px;
    padding-right: 125px;
    margin: 5px 5px 5px 5px;
    padding-top: 120px;
}
input{
    padding-top: 1px;
    margin-top:240px;
    margin-left: 90px;
    padding-left: px;
    background-color: rgb(11, 11, 11);
  border: 2px solid;
  text-shadow: 0.01px 0.02px ;
  color: rgb(254, 250, 250);
  align-items: center;
  justify-content: center;
 
  border-radius: 30px;
  font-size: 16px;
  box-shadow: 0 0 10px 0 #959245 inset,
              0 0 10px 4px #449e65;
}
.mt-3{
    margin-top: 12px;
    margin-left: 100px;
}